body {
    font-family: Arial, sans-serif;
    background-color: #c2c2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: #e6c8c8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #d69a9a;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #de7676;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f28888;
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  .weather-info p {
    margin: 5px 0;
  }
  